worlds:
- badday

# More storms? or only standard ones?
extraStorms: true

# Duration in ticks
stormDurationMin: 2500
stormDurationMax: 10000

# Time between extra storms
niceWeatherMin: 500
niceWeatherMax: 5000
